torch
torchvision
torchaudio

diffusers
transformers
accelerate
huggingface_hub
safetensors
peft

datasets
numpy
pandas
scikit-learn
matplotlib
Pillow
tqdm
PyYAML
opencv-python

jupyter
notebook
ipykernel
